@tailwind base;
@tailwind components;
@tailwind utilities;

  .my-custom-bg-class{
  background-image: url('/assets/BREEZLUX.png');
}
@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px #364f6b;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px #364f6b;
  }
  .font-outline-3 {
    -webkit-text-stroke: 2px #e5e5e5;
  }
  }
  .font-outline-4 {
    -webkit-text-stroke: 2px #3fc1c9;
  }

